CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
GMAIL_APP_PASSWORD=
GMAIL_USER=
JWT_SECRET=
OTP_SALT=
SMTP_FROM=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=